section img {
  width: 1920;
  height: 547;
}

.main {
  background: #bdbdbd;
}

section,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sobre-content .sobre-item-o figure img {
  width: 74%;
  height: 70px;
}

.sobre-content .sobre-item-t figure img {
  width: 118%;
  height: 40px;
}

.sobre-content .sobre-item-3 figure img {
  width: 70%;
  height: 70px;
}

.sobre-content .sobre-item-4 figure img {
  width: 70%;
  height: 52px;
}
