.pacotes {
  padding-bottom: 4rem;
}

.pacotes-slick {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -4rem;
}

.pacotes-item {
  flex: 0 0 280px;
  display: flex !important;
  flex-direction: column;
  background: #fff;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  margin: 1rem 1rem 1rem 1rem;
}

.pacotes-item-inner1 {
  flex: 0 0 56px;
  background: #e3262e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px 13px 0 0;
  text-align: center;
}

.pacotes-item-titulo {
  font-size: 2em;
  line-height: 1;
}

.pacotes-item-inner2 {
  flex: 1;
  padding: 1.5rem;
  text-align: center;
  background: #fff;
}

.pacotes-item-desc {
  margin-bottom: 1.5rem;
}

.pacotes-item-desc:last-child {
  margin-bottom: 0;
}

.pacotes-item-desc img {
  width: auto;
  height: auto;
  max-width: 105px;
  max-height: 20px;
  margin: 0 auto;
}

.pacotes-item-desc p {
  font-size: 0.8125em;
  color: #6c6c6c;
}

.pacotes-item-inner3 {
  background: #ebebeb;
  border-radius: 0 0 13px 13px;
  padding: 1rem;
  text-align: center;
}

.pacotes-item-preco * {
  display: inline;
  color: #e3262e;
}

.pacotes-item-preco p {
  font-size: 20px;
  font-weight: bold;
}

.pacotes-item-preco h2 {
  font-size: 3.625em;
  letter-spacing: -0.03em;
  margin-right: -2rem;
  line-height: 1;
}

.pacotes-item-preco h2 sup {
  font-size: 1.5rem;
  letter-spacing: 0;
  vertical-align: 1.4rem;
  margin-left: 0.25rem;
}

.pacotes-item-assine {
  margin-top: 1rem;
}
@media screen and (max-width: 667px) {
  .pacotes-slick {
    margin-top: -2rem;
  }
  .pacotes-item {
    margin: 1rem 0.5rem 1rem 0.5rem;
  }
}
